@import "tailwindcss";

@theme {
  --font-sans: "Montserrat", sans-serif;

  --color-green: #00f1d7;
  --color-blue: #00CCFA;
  --color-dark-surface: #0A141D;
  --color-bodycopy: #939EB4;
  --color-bodycopy-darker: #616D86;
  --color-dark-blue: #162635;
  --color-dark-green: #062326;

}

@layer base {
    html {
        @apply scroll-smooth;
    }
    body {
        @apply bg-dark-surface text-bodycopy font-sans;
    }
}
@layer utilities {
    .container {
        @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
    }
}
@layer components {


    /* FAQ Component Styles */
    .faq-item.active {
        @apply border-bodycopy/40;
    }

    .faq-icon {
        transition: transform 0.3s ease-in-out;
    }
}

.main-nav a::after {
    @apply hidden;
}
.main-nav a.active {
    @apply text-white;
}
.main-nav a.active::after {
    @apply inline-block;
    transform: translateX(-2px);
}

/* Frequently Asked Questions */
.faq-status-indicator .active::after {
    @apply rotate-180 opacity-0;
}
.faq-item.active {
    @apply border-current pointer-events-none;
}
.faq-question .active > span {
    @apply text-current;
}
.faq-content .active {
    @apply opacity-100 mt-5;
}


.subscription-plans-container .monthly {
    display: block;
}
.subscription-plans-container .yearly {
    display: none;
}
.subscription-plans-container.yearly .monthly {
    display: none;
}
.subscription-plans-container.yearly .yearly {
    display: block;
}

#toggle-container #text-label-monthly {
    @apply text-white;
}
#toggle-container #text-label-yearly {
    @apply text-bodycopy;
}
#toggle-container.yearly #text-label-monthly {
    @apply text-bodycopy-darker;
}
#toggle-container.yearly #text-label-yearly {
    @apply text-white;
}


.reviews-nav {
    .swiper-button-next,
    .swiper-button-prev {
        color: var(--color-current);
    }
    .swiper-button-next::after,
    .swiper-button-prev::after {
        @apply text-xl text-white;
    }
    .swiper-button-next:hover::after,
    .swiper-button-prev:hover::after {
        @apply text-black;
    }
}



input:checked + .toggle-bg:after {
    transform: translateX(100%);
}

input:checked + .toggle-bg {
    @apply bg-green;
}
