.main-nav a.active {
  @apply text-white; }
  .main-nav a.active::after {
    content: '';
    @apply bg-blue w-1 h-1 rounded-full inline-block mt-1 absolute top-full left-1/2;
    transform: translateX(-2px); }

.active .faq-status-indicator::after {
  @apply rotate-180 opacity-0; }

.faq-item.active {
  @apply border-current; }

.active .faq-question > span {
  @apply text-current; }

.active .faq-content {
  @apply opacity-100 mt-5 ease-out; }

.subscription-plan-features-list {
  @apply mt-15 flex-1 px-5 md:px-8 xl:px-12 2xl:px-15; }
  .subscription-plan-features-list li {
    @apply text-left text-lg flex flex-row items-start mt-4 first:mt-0; }
    .subscription-plan-features-list li > span {
      @apply text-bodycopy; }
    .subscription-plan-features-list li::before {
      content: '';
      mask: url(../img/icon-check-filled.svg);
      background-color: currentColor;
      width: 20px;
      height: 20px;
      margin-right: 20px;
      margin-top: 3px;
      flex: 0 0 20px; }

.subscription-plans-container .subscription-price.monthly {
  display: block; }

.subscription-plans-container .subscription-price.yearly {
  display: none; }

.subscription-plans-container.yearly .subscription-price.monthly {
  display: none; }

.subscription-plans-container.yearly .subscription-price.yearly {
  display: block; }

#toggle-container #text-label-monthly {
  @apply text-white; }

#toggle-container #text-label-yearly {
  @apply text-bodycopy; }

#toggle-container.yearly #text-label-monthly {
  @apply text-bodycopy-darker; }

#toggle-container.yearly #text-label-yearly {
  @apply text-white; }

.swiper-button-next::after, .swiper-button-prev::after {
  @apply text-xl text-white; }

.swiper-button-next:hover::after, .swiper-button-prev:hover::after {
  @apply text-black; }

input:checked + .toggle-bg:after {
  transform: translateX(100%); }

input:checked + .toggle-bg {
  @apply bg-green; }
