.main-nav {
    a {
        &.active {
            @apply text-white;
            &::after {
                content: '';
                @apply bg-blue w-1 h-1 rounded-full inline-block mt-1 absolute top-full left-1/2;
                transform: translateX(-2px);
            }
        }
    }
}

// Frequently Asked Questions
.faq-status-indicator {
    .active &::after {@apply rotate-180 opacity-0}
}
.faq-item {
    &.active {@apply border-current};
}
.faq-question {
    .active & > span {
        @apply text-current;
    }
}
.faq-content {
    .active & {
        @apply opacity-100 mt-5 ease-out;
    }
}

.subscription-plan-features-list {
    @apply mt-15 flex-1 px-5 md:px-8 xl:px-12 2xl:px-15;
    li {
        @apply text-left text-lg flex flex-row items-start mt-4 first:mt-0;
        > span {@apply text-bodycopy;}
        &::before {
            content: '';
            mask: url(../img/icon-check-filled.svg);
            background-color: currentColor;
            width: 20px;
            height: 20px;
            margin-right: 20px;
            margin-top: 3px;
            flex: 0 0 20px;
        }
    }
}
.subscription-plans-container {
    & .subscription-price.monthly {display: block;}
    & .subscription-price.yearly {display: none;}
}
.subscription-plans-container.yearly {
    & .subscription-price.monthly {display: none;}
    & .subscription-price.yearly {display: block;}

}
#toggle-container {
    #text-label-monthly {@apply text-white;}
    #text-label-yearly {@apply text-bodycopy;}
    &.yearly {
        #text-label-monthly {
            @apply text-bodycopy-darker;
        }
        #text-label-yearly {
            @apply text-white;
        }
    }
}



.swiper-button-next, .swiper-button-prev {
    @apply  relative top-0 left-0 right-0 bottom-0 h-20 w-20 border-2 border-bodycopy bg-transparent hover:bg-current hover:border-current grid place-items-center ;
    &::after {
        @apply text-xl text-white;
    }
    &:hover {
        &::after {
            @apply text-black;
        }
    }
}




input:checked+.toggle-bg:after {
    transform: translateX(100%);
}

input:checked+.toggle-bg {
    @apply bg-green;
}
