@tailwind base;
@layer base {
  :root {
    --color-green-accent: #00f1d7;
    --color-blue-accent: #00CCFA; }
  html {
    @apply scroll-smooth; }
  body {
    @apply bg-dark-surface text-bodycopy font-montserrat; }
  p {
    @apply text-sm leading-6 lg:text-base lg:leading-loose; }
  h2 {
    font-size: inherit;
    margin: inherit; }
  .container {
    max-width: 1320px !important;
    @apply px-6 sm:px-7 md:px-8 lg:px-10; } }

@tailwind components;
@tailwind utilities;
.main-nav a::after {
  @apply hidden; }

.main-nav a.active {
  @apply text-white; }
  .main-nav a.active::after {
    @apply inline-block;
    transform: translateX(-2px); }

.active .faq-status-indicator::after {
  @apply rotate-180 opacity-0; }

.faq-item.active {
  @apply border-current pointer-events-none; }

.active .faq-question > span {
  @apply text-current; }

.active .faq-content {
  @apply opacity-100 mt-5 ease-out; }

.subscription-plans-container .monthly {
  display: block; }

.subscription-plans-container .yearly {
  display: none; }

.subscription-plans-container.yearly .monthly {
  display: none; }

.subscription-plans-container.yearly .yearly {
  display: block; }

#toggle-container #text-label-monthly {
  @apply text-white; }

#toggle-container #text-label-yearly {
  @apply text-bodycopy; }

#toggle-container.yearly #text-label-monthly {
  @apply text-bodycopy-darker; }

#toggle-container.yearly #text-label-yearly {
  @apply text-white; }

.swiper-button-next::after, .swiper-button-prev::after {
  @apply text-xl text-white; }

.swiper-button-next:hover::after, .swiper-button-prev:hover::after {
  @apply text-black; }

input:checked + .toggle-bg:after {
  transform: translateX(100%); }

input:checked + .toggle-bg {
  @apply bg-green; }
