@tailwind base;
@layer base {
    :root {
        --color-green-accent: #00f1d7;
        --color-blue-accent: #00CCFA;
    }

    .container {
        max-width: 1320px !important;
    }
}

@tailwind components;
@tailwind utilities;





