<div class="faq-item border border-dark-blue px-4 lg:pl-6 lg:pr-7.5 py-4 lg:py-6 transition-colors hover:border-bodycopy-darker">
    <div class="faq-question cursor-pointer flex items-center">
        <div class="faq-status-indicator relative w-5 h-5 mr-6.25 flex-grow-0 flex-shrink-0 before:absolute before:inset-0 before:m-auto before:w-5 before:h-0.5 before:inline-block before:align-middle before:bg-current before:transition-transform before:duration-300 after:absolute after:inset-0 after:m-auto after:w-0.5 after:h-5 after:inline-block after:align-middle after:bg-current after:duration-300 after:rotate-0 after:opacity-100 after:transition-all"></div>
        <span class="text-white text-base lg:text-lg">@@faq-question</span>
    </div>
    <p class="faq-content text-bodycopy opacity-0 max-h-0 overflow-hidden ml-11 transition-all duration-1000 ease-in-out">
        @@faq-content
    </p>
</div>
<!------------------- FAQ Item -->
