<div class="swiper-slide">

    <div class="reviews-item">
        <div class="reviews-item-content border-4 border-[#2a3541] text-bodycopy text-lg leading-loose p-14 relative before:absolute before:w-4 before:h-4 before:border-[#2a3541] before:bg-black before:-bottom-2 before:rotate-45 before:left-24 before:border-4 before:border-l-0 before:border-t-0 before:z-0 z-10 bg-black after:bg-black after:absolute after:w-20 after:h-2 after:left-16 after:bottom-0">
            @@review-content
        </div>
        <div class="reviews-item-meta flex justify-between items-end mt-7.5">
            <div class="flex items-center px-4">
                <div class="author-avatar ml-15">
                    <img src=@@photo alt="" width="60" height="60" loading="lazy">
                </div>
                <div class="author ml-5">
                    <div class="author-name text-white text-xl">@@reviewer</div>
                    <div class="author-position text-base text-bodycopy mt-1">@@role</div>
                </div>
            </div>
            <div class="date text-bodycopy text-sm pb-1">@@date</div>
        </div>
    </div>

</div>
