<div class="text-center bg-dark-blue p-6 lg:p-12 flex items-center flex-col sm:last:hidden md:last:flex max-w-md">
    <div class="text-white font-bold text-2xl" style="min-height: 60px;">
        @@title
    </div>
    <img src=@@image class="mt-10" />
    <div class="text-white font-semibold text-xl mt-3">@@name</div>
    <div class="text-bodycopy mt-5 flex-grow pb-4">@@description</div>
    <div class="mt-auto">
        <audio controls="true">
            <source src=@@audio type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>
</div>
